body {
    margin: 0;
}
canvas{
    position: relative;
    z-index: 1;
}

#death-count {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display:block;
}